doctype html
html(lang="en")
  head
    title Dreamscape Tree
    link(href='bootstrap.min.css', rel='stylesheet')
    link(href='tree.css',          rel='stylesheet')
  body
    #container
    script(src='bundle.js')
